.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;

  .hero-box {
    justify-content: space-between;
    max-width: var(--maxWidth);
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;    

    .hero-headline {
      .hero-greeting {
        font-size: 3rem;
        padding-bottom: 1rem;

        .hero-name {
          color: var(--ThirdColor);
        }
      }

      .hero-desc {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 2rem;
        color: grey;
      }

      .hero-button {
        padding: 0.5rem 10px;
        background-color: var(--ThirdColor);
        border-radius: 10px;
        color: var(--PrimaryColor);
        font-weight: bold;
      }
    }
  }

  .img {
    .hero-image {
      width: 40rem;
    }
  }
}

// Mobile view

@media screen and (max-width: 1027px) {
    .hero{
        .hero-box{
            flex-direction: column;
            padding-bottom: 0;
            max-width: var(--maxWidthMobile);

            .hero-headline{
              .hero-greeting{
                font-size: 2rem;
              }
            }

            .img{
              top: -200;
              padding-top: 2rem;
            }
        }
    }
}