.navBar {
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    background: var(--PrimaryColor);

    .nav-logo {
      color: var(--FourthColor);
      font-weight: 600;
      flex-direction: row;
      gap: 0.5rem;

      .icon {
        color: var(--ThirdColor);
      }
    }
  }
}

@media screen and (max-width: 1027px) {
  .navBarModal {
    position: absolute;
    background: var(--FourthColor);
    height: max-content;
    width: 80%;
    border-radius: 5px;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px var(--ThirdColor);
    transition: 0.4s ease-in-out;

    .nav-list {
      flex-direction: column;
      gap: 1rem;

      .nav-item {
        color: var(--PrimaryColor);
        font-weight: 600;
      }

      .nav-button {
        color: var(--FourthColor);
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--SecondaryColor);
        border-radius: 5px;
      }

      .nav-button:hover {
        background-color: none;
      }
    }

    .nav-close {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: var(--PrimaryColor);
    }
  }

  .navBarPosition {
    top: 5rem;
  }

  .nav-show {
    display: contents;
    color: var(--ThirdColor);
    font-size: 1.5rem;
    padding: 3px;
  }
}

@media screen and (min-width: 1028px) {
  .nav-close,
  .nav-show {
    display: none;
  }

  .header {
    padding: 1.5rem, 2rem;
    display: flex;
    justify-content: space-evenly !important;

    .navBarModal {
      display: flex;
      justify-content: space-between;

      .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;

        .nav-item {
          color: var(--FourthColor);
          cursor: pointer;
        }
      }

      .nav-button {
        color: var(--FourthColor);
        background: none;
        border: 2px solid var(--FourthColor);
        border-radius: 12px;
        transition-duration: 0.4s;
        padding: 0.5rem 30px;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 1rem;
        font-weight: bold;

        &:hover {
          background-color: var(--FourthColor);
          color: var(--PrimaryColor);
        }

        .nav-items li {
          padding: 0.5rem 15px;
          border-radius: 12px;

          &:hover {
            background: var(--SecondaryColor);
            transition-duration: 0.4s;
            padding: 0.5rem 15px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
