.navBar {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  background: var(--PrimaryColor);
  height: 4rem;

  .nav-logo {
    align-items: baseline;
    display: flex;
    color: white;
    flex-direction: row;
    gap: 0.5rem;
    font-size: larger;

    .nav-icon {
      color: var(--ThirdColor);
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    color: white;

    .nav-button {
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 12px;
      transition-duration: 0.4s;
      padding: 0.5rem 30px;
      text-align: center;
      cursor: pointer;
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

  .nav-list li {
    padding: 0.5rem 15px;
    border-radius: 12px;
  }

  .nav-list li:hover {
    background: var(--SecondaryColor);
    transition-duration: 0.4s;
    padding: 0.5rem 15px;
    text-align: center;
    cursor: pointer;
  }

  .nav-button:hover {
    background-color: white;
    color: var(--PrimaryColor);
  }

  .nav-show {
    display: none;
  }

  .nav-close {
    display: none;
  }
}

@media screen and (max-width: 602px) {
  .navBar {
    justify-content: space-between;
    padding: 0 2rem;

    .navBarModal {
      position: absolute;
      background: var(--FourthColor);
      height: max-content;
      width: 80%;
      border-radius: 5px;
      top: -500rem;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px var(--ThirdColor);
      transition: 0.4s ease-in-out;

      .nav-list {
        color: var(--SecondaryColor);
        flex-direction: column !important;
        text-align: center;

        .nav-button {
          color: var(--FourthColor);
          margin: 1rem 4rem;
          background-color: var(--SecondaryColor);
        }

        .nav-button:hover {
          background-color: none;
        }
      }

      .nav-list li {
        font-weight: bold;
        cursor: pointer;
      }

      .nav-list li:hover {
        background: none;
      }

      .nav-close {
        display: inline;
        position: absolute;
        top: 20px !important;
        left: 270px !important;
        font-size: 1.5rem;
        color: var(--PrimaryColor);
      }
    }

    .navBarPosition {
      top: 5rem;
    }

    .nav-show {
      display: contents;
      color: var(--ThirdColor);
      font-size: 1.5rem;
      padding: 3px;
    }
  }
}
