.skill {
  height: auto;

  .skill-box {
    flex-direction: column;
    text-align: center;
    padding: 100px 0;

    .skill-stacks {
      width: 100%;
      max-width: var(--maxWidth);
      gap: 2rem;
      justify-content: space-between;
      align-items: baseline;
      font-size: smaller;

      .skill-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .skill-image {
          width: 50px;
          margin-bottom: 0.5rem;
        }

        .skill-header {
          width: 100%;
          border-bottom: 2px solid gray;
          padding-bottom: 1rem;
        }

        .skill-list {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

// Mobile view

@media screen and (max-width: 1027px) {
  .skill {
    .skill-box {
      .skill-stacks {
        max-width: var(--maxWidthMobile);
        display: flex;
        flex-direction: column;
        align-items: center;

        .skill-group {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
