@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --PrimaryColor: #212a3e;
  --SecondaryColor: #394867;
  --ThirdColor: #9BA4B5;
  --FourthColor: #F1F6F9;
}