@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --PrimaryColor: #212a3e;
  --SecondaryColor: #394867;
  --ThirdColor: #9BA4B5;
  --FourthColor: #F1F6F9;
}

html{
    scroll-behavior: smooth;
}

body{
  background-color: var(--FourthColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 2rem;
}

.section {
    padding: 4rem 0 2rem;
}


@media screen and (min-width: 1240px) {
    .container{
        width: 80% !important;
        margin: auto !important;
    }

    .section{
        padding: 6rem 0 4rem;
    }
}
