@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

:root {
  --PrimaryColor: #0a1931;
  --SecondaryColor: #185adb;
  --ThirdColor: #ffc947;
  --FourthColor: #efefef;

  --maxWidth: 60%;
  --maxWidthMobile: 85%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--FourthColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

img{
  width: 100%;
  height: auto;
}

.section-title {
  margin-bottom: 2rem;
}

.box {
  margin-top: 5rem;
}
